<%= turbo_frame_tag "modal" %>

<div id="to_do_lists">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl">My To Do lists</h1>
    <div class="mt-4">
      <%= link_to "New To Do list", new_to_do_list_path, class: "px-4 py-2 bg-blue-600 text-white rounded", data: { turbo_frame: "modal" } %>
      <%= link_to "New From Template", new_to_do_list_path(from_template: true), class: "px-4 py-2 bg-blue-600 text-white rounded", data: { turbo_frame: "modal" } %>
    </div>
  </div>
  <div class="flex gap-5 my-5 w-full flex-wrap justify-center">
    <%= render @my_to_do_lists %>
  </div>
  <hr>
  <h1 class="font-bold text-xl my-5">To Do lists from other users</h1>
  <div class="flex gap-5 my-5 w-full flex-wrap justify-center">
    <%= render @to_do_lists %>
  </div>
</div>
