<!DOCTYPE html>
<html>
  <head>
    <title>TestAppMaindeck</title>
    <meta name="turbo-visit-control" content="reload">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="flex justify-between p-5 bg-blue-200 shadow-md items-center">
      <% if Current.user.present? %>
        <div class="flex gap-5 items-center">
          <div class="font-semibold"> <%= Current.user.email %> </div>
          <%= link_to "Dashboard", root_path, class: "p-2 hover:bg-blue-300 hover:rounded-xl" %>
          <%= link_to "My templates", templates_path, class: "p-2 hover:bg-blue-300 hover:rounded-xl" %>
        </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "p-2 hover:bg-blue-300 hover:rounded-xl" %>
      <% else %>
        <div class="font-semibold"> You are not signed in, but still can view lists! </div> 
        <div class="flex gap-5">
          <%= link_to "Sign in", new_user_session_path, class: "p-2 hover:bg-blue-300 hover:rounded-xl" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "p-2 hover:bg-blue-300 hover:rounded-xl"%>
        </div>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <main class="mt-28 px-5 w-full">
      <%= yield %>
    </main>
  </body>
</html>
